.header {
  position: fixed;
}

.navbar {
  position: fixed;
  top: 100px;
  left: 0px;
  width: 200px;
  height: 100%;
  background: green;
  border-right: 2px solid greenyellow;
  box-shadow: 0 0 10px 5px black;
}

.navbar-open {
  left: 0;
  opacity: 1;
}

.nav-link {
  display: flex;
  align-items: center;
  background: darkgreen;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
  border-bottom: 1px solid green;
}

.nav-link:active {
background-color: white;
}


