/* .App {
  margin: 0 auto;
} */

/* * {
  box-sizing: border-box;
} */
body {
  border: none;
  margin: 0px;
  padding: 0;
}

.header {
  position: fixed;
  background-color: #F3C19D;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  padding-bottom: 10px;
  /* padding: 10px; */
}
/* .bottom {
  background: linear-gradient(#F3C19D, honeydew);
  padding-bottom: 100vh;
} */

/* .sun-icon {
  color: #6cabd8;
} */
#vibes {
  padding-left: 25px;
  padding-bottom: 30px;
  color: white;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #F3C19D;
  margin-top: 55px;
  position: fixed;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
}
.SidebarList .row:hover {
  cursor: pointer;
  background-color: #f1d0b7;
}
.SidebarList #active {
  background-color: #6cabd8;
}
/* #fcba8a; */
/* #194BA0 */
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.formpage {
  background: linear-gradient(  #eeb58b  ,#F3C19D 70%, #6cabd8); 
  display: flex;
  margin-top: 70px;
  margin-left: 250px;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.post {
  margin-top: 20px;
  margin-left: 50vw;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.formbox {
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.newvibetitle {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 45px;
  color: #eeb58b;
}

.newVibe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
}

#username, #text {
  padding: 10px;
  margin: 10px;
}

#text {
  padding-bottom: 50px;
}

input {
  padding: 10px;
}
.vibebutton {
  max-width: 100px;
  min-width: 50px;
  margin-left: 35%;
  margin-right: 35%;
}

.about {
  /* max-width: 700px;
  width: 100%; */
  color: white;
  background-color: white;
  padding: 10px 30px;
  /* background: linear-gradient( #F3C19D, whitesmoke ); */
  background: linear-gradient(  #eeb58b  ,#F3C19D 70%, #6cabd8);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 250px;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about-text {
  max-width: 600px;
  display: flex;
  font-size: 25px;
}

.wave {
  height: 30%;
  width: auto;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.homepage {
  margin-top: 50px;
}