/* .App {
  margin: 0 auto;
} */

/* * {
  box-sizing: border-box;
} */

body {
  background: linear-gradient(  #eeb58b  ,#F3C19D 70%, #6cabd8); 
  border: none;
  margin: 0px;
  padding: 0;
}

.header {
  position: fixed;
  background-color: #F3C19D;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  padding-bottom: 10px;
  /* padding: 10px; */
}
/* .bottom {
  background: linear-gradient(#F3C19D, honeydew);
  padding-bottom: 100vh;
} */

/* .sun-icon {
  color: #6cabd8;
} */
#vibes {
  padding-left: 25px;
  padding-bottom: 30px;
  color: white;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #F3C19D;
  margin-top: 55px;
  position: fixed;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #f1d0b7;
}
.SidebarList #active {
  background-color: #6cabd8;
}
/* #fcba8a; */
/* #194BA0 */
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.formpage {
  
  display: flex;
  margin-top: 70px;
  margin-left: 250px;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.post {
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
  margin-left: 60px;
  padding: 10px;
  padding-left: 2%;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  width: 50vh;

  background-color: #6cabd8;
}
.formbox {
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.newvibetitle {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 45px;
  color: #eeb58b;
}

.newVibe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
}

#username, #text {
  padding: 10px;
  margin: 10px;
}

#text {
  padding-bottom: 50px;
}

input {
  padding: 10px;
}
.vibebutton {
  max-width: 100px;
  min-width: 50px;
  margin-left: 35%;
  margin-right: 35%;
}

.about {
  /* max-width: 700px;
  width: 100%; */
  color: white;
  background-color: white;
  padding: 10px 30px;
  /* background: linear-gradient( #F3C19D, whitesmoke ); */
  background: linear-gradient(  #eeb58b  ,#F3C19D 70%, #6cabd8);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 250px;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#about-text {
  max-width: 600px;
  display: flex;
  font-size: 25px;
  text-align: center;
}

.wave {
  height: 20%;
  width: auto;
}

.contacthead {
  font-size: 50px;
}

.links-out {
  transform: scale(1.8);
  color: white;
}

#githubi , #linkedini {
  padding: 10px;
  color: white;
  height: 20px;
}


.bottom {
  background: linear-gradient(  peachpuff 60%, #6cabd8); 
  display: flex;
  flex-direction: row;
  background-attachment: fixed;

}

.homepage {
  margin-top: 80px;
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactform {
  color: white;
  background-color: white;
  padding: 10px 30px;
  /* background: linear-gradient( #F3C19D, whitesmoke ); */
  background: linear-gradient(  #eeb58b  ,#F3C19D 70%, #6cabd8);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 15vh;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media screen and (max-width: 501px) {
  .Sidebar {
    height: 80px;
    width: 100%;
    background-color: #F3C19D;
    bottom:  0px;
    display: flex;
    flex-direction: row;
  width: 100%;
  margin: 0 auto;
  }
  .SidebarList .row:hover {
    cursor: pointer;
    background-color: #F3C19D;
  }
  .SidebarList #active {
    background-color: #F3C19D;
  }
  .SidebarList {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    justify-content: space-between;
  }
  .row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .homepage {
    height: 1200px;
    width: 375px;
  }

  .post {
  width: 300px;
  margin: 20px 0 0 0;
  }

  #title {
    color: transparent;
  }

  .formpage, .about, .contactform {
    margin: 0 auto;
  }

  

  .SidebarList .row {
    justify-content: space-between;
    display: flex;
    flex-direction: inline;
  }
}